:root {
  --main-bg-color: #000 !important;
  --main-color: #fff !important;
  --h-color: rgb(161, 161, 161) !important;
  --p-color: rgb(221, 221, 221) !important;
  --list-color: rgb(185, 185, 185) !important; 
  --input-bg-color: rgb(22, 22, 22) !important;
  --input-color: rgb(224, 224, 224) !important;
}

main, body, html, div, nav, canvas, header, footer, article, section, table  {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--h-color);
}

p {
  color: var(--p-color);
}

ul, ol, li, a {
  color: var(--list-color); 
}

input[type="text"] {
  background-color: var(--input-bg-color);
  color: var(--input-color);
}
