:root {
  --main-bg-color: rgb(255, 104, 242) !important;
  --main-color: rgb(152, 193, 255) !important;
  --h-color: rgb(255, 244, 89) !important;
  --p-color: rgb(99, 255, 60) !important;
  --list-color: rgb(94, 244, 255) !important;
  --input-bg-color: rgb(255, 169, 57) !important;
  --input-color: rgb(79, 255, 123) !important;
}

main, body, html, div, nav, canvas, header, footer, article, section, table  {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--h-color);
}

p {
  color: var(--p-color);
}

ul, ol, li, a {
  color: var(--list-color); 
}

input[type="text"] {
  background-color: var(--input-bg-color);
  color: var(--input-color);
}
